/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dee6fc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #cdb4e8;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #b52bd1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.start-icon {
    height: 25px;
    width: 80px;
    border: 2px solid black;
    border-radius: 130px;
    padding-left: 36px;
}

.output-icon {
    margin-left: 7px;
    width: 80px;
    height: 25px;
    padding-left: 20px;
    border: 2px solid black;
    transform: skew(-30deg, 0deg);
}

.output-icon li {
    transform: skew(30deg, 0deg);
    list-style-type: none;
}

.delay-icon {
    width: 80px;
    height: 25px;
    padding-left: 30px;
    border: 2px solid black;
}

.decision-icon li {
    transform: skew(-68deg, 24deg);
    font-size: 7px;
    margin-left: 13px;
    padding-top: 3px;
    list-style-type: none;
}

.decision-icon {
    margin-left: 35px;
    width: 40px;
    height: 15px;
    transform: skew(68deg, -24deg);
    border: 2px solid black;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.fas {
    margin-left: 15px;
    font-size: 22px;
}

.toolbar {
    background-color: #ffeff5;
    border-right: 2px solid black;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 90vh;
    float: left;
}

hr {
    height: 1px;
    border: none;
    color: #000;
    background-color: #000;
    width: 80%;
    text-align: center;
    margin: 30px auto;
}

.workspace {
    border: 2px solid black;
    margin-left: 5px;
    float: left;
    padding-top: 20px;
    width: calc(97vw - 220px);
    min-height: 90vh;
    height: 90vh;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

#calculator {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
}

.shape {
    border: 2px solid black;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    cursor: pointer;
}

.ghost {
    border: 2px solid lightgray;
    position: absolute;
}

.shape.start-shape, .ghost.start-ghost {
    height: 30px;
    min-width: 100px;
    border-radius: 130px;
    text-align: center;
    padding: 0 10px;
    line-height: 30px;
}

.shape.output-shape, .ghost.output-ghost {
    margin-left: 7px;
    min-width: 120px;
    max-width: 180px;
    min-height: 60px;
    max-height: 150px;
    padding: 0 20px;
    text-align: center;
    transform: skew(-30deg, 0deg);
}

.shape.output-shape li {
    transform: skew(30deg, 0deg);
    list-style-type: none;
}

.shape.delay-shape, .ghost.delay-ghost {
    width: 110px;
    height: 60px;
    text-align: center;
    padding: 0 20px;
    vertical-align: middle;
    line-height: 60px;
}

.shape.decision-shape, .ghost.decision-ghost {
    margin-left: 35px;
    width: 64px;
    height: 24px;
    transform: skew(68deg, -24deg);
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}

.bad {
    border: 2px solid orange;
}

.stop {
    border: 2px solid red !important;
}

dialog {
    position: absolute;
    bottom: 0;
}

.editing {
    background-color: palegreen;
}